
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(173, 227, 230); 
}

td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
